@model IEnumerable<Domain.Entityes.Order>
<style>
    .overlay {
	background: #000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	opacity: .5;
}
.visible {
	background: #fff;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	overflow: hidden;
	z-index: 2000;
	width: 500px;
	padding: 0px;
	margin-left: -250px;
}
.modalDel button {
	float: right;
	line-height: 20px;
	margin: 1.2em;
	border: none;
	background: transparent;
	color: blue;
}
.modalDel button[type="button"]:hover {
	cursor: pointer;
	color: navy;
	text-decoration: underline;
}
.modalDel h3 {
	text-align: center;
	color: #555;
}
.content {
	padding: 0 1em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: WhiteSmoke;
}
</style>

@if (Model.Count().Equals(0))
{
    <h2 align="center">у вас нет заказов</h2>
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success" align="center" style="color: red"><h3>@TempData["message"]</h3></div>
}
@if (!Model.Count().Equals(0))
{

    <table class="table" style="border: 10px;">
        <tr >
            <th >
                <h4 align="center"><strong>Заказанные товары</strong></h4>
            </th>
            <th>
                <h4 align="center"><strong>Данные по заказу</strong></h4>
            </th>
            <th>
                <h4 align="center"><strong>Статус</strong></h4>
            </th>
            <th>
                <h4 align="center"><strong>Действия над заказом</strong></h4>
            </th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @foreach (var a in item.Products)
                    {
                        <h4 align="center">"@a.Name"</h4>
                        foreach (var z in a.Photo)
                        {
                            if (z.Priority)
                            {
                                <div align="center"><img src="~/PhotoForDB/@z.PhotoUrl" height="80" width="70" /></div>
                            }
                        }
                        if (a.Discount != 0)
                        {
                            <p align="center">стоимость - <strong>@(a.Price - a.Price * a.Discount / 100) грн</strong> (с учетом скидки <strong>@a.Discount %</strong> ) </p>
                        }
                        else
                        {
                            <p align="center">стоимость - <strong>@(a.Price) грн</strong></p>
                        }
                    }
                    </td>
                <td>
                 <p><strong>Дата заказа</strong> - @Html.DisplayFor(modelItem => item.DateOrder)</p> 
                    <p><strong>Имя клиента</strong> - @Html.DisplayFor(modelItem => item.ClientName)</p>
                    <p><strong>E-mail клиента</strong> - @Html.DisplayFor(modelItem => item.Email)</p> 
                    <p><strong>Телефон клиента</strong> - @Html.DisplayFor(modelItem => item.Phone)</p> 
                    <p><strong>Выбранная доставка</strong> - @Html.DisplayFor(modelItem => item.Delivery)</p> 
                    <p><strong>Способ оплаты</strong> - @Html.DisplayFor(modelItem => item.Payment)</p>
                    <p><strong>Адресс клиента</strong> - @Html.DisplayFor(modelItem => item.Address)</p>
                    <p><strong>Комментарий клиента</strong> -@Html.DisplayFor(modelItem => item.Сomment)</p>
                </td>
                <td>
                    @if (item.Status == "новый")
                    {
                        <h4 style="color: red">@item.Status</h4>
                    }
                    @if (item.Status == "выполненный")
                    {
                        <h4 style="color: green">@item.Status</h4>
                    }
                </td>
                <td>
                    <input id="@(item.OrderId + "Ok")" type="button" value="Выполненный" class="btn btn-default" style="background-color:  aquamarine" />
                    <br />
                    <br />
                    <input id="@(item.OrderId + "New")" type="button" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Новый&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" class="btn btn-default" style="background-color:  aquamarine" />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                    <input id="@(item.OrderId + "Dell")" onClick="getElementById('@(item.OrderId + "DellModal")').removeAttribute('style');" type="button" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Удалить&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" class="btn btn-default" style="background-color: antiquewhite" />

                    @*<button style="background-color:  aquamarine" onClick="getElementById('@(item.OrderId + "Dell")').removeAttribute('style');" type="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Удалить&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>*@
                    <div class="modalDel" id="@(item.OrderId + "DellModal")" style="display:none;">
                        <div class="overlay"></div>
                        <div class="visible">
                            <h4 align="center">Заказ клиента - <strong>@item.ClientName</strong></h4>
                                <br />
                                <h4 align="center" style="color: red">Вы точно хотите удалить этот заказ?</h4>
                                <input id="@(item.OrderId + "DellYes")" onClick="getElementById('@(item.OrderId + "DellModal")').style.display = 'none';" type="button" value="&nbsp;&nbsp;&nbsp;Да&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" class="btn btn-default" style="margin: 50px; float: left; background-color: aquamarine" />
                                <input id="@(item.OrderId + "DellNo")" onClick="getElementById('@(item.OrderId + "DellModal")').style.display = 'none';" type="button" value="&nbsp;&nbsp;&nbsp;Нет&nbsp;&nbsp;&nbsp;&nbsp;" class="btn btn-default" style="margin: 50px; float: right; background-color: aquamarine" />
                                <br />
                        </div>
                    </div>
                    <script>
                        $(document)
                            .ready(function () {
                                $("#@(item.OrderId + "Ok")")
                                    .click(function () {
                                        var data = {
                                            orderId: ('@item.OrderId')
                                        };
                                        $.ajax({
                                            url: "/Admin/OrderOk",
                                            type: "POST",
                                            data: data,
                                            success: function (data) {
                                                $("#divReviews").html(data);
                                            }
                                        });
                                    });
                            });
                        $(document)
                           .ready(function () {
                               $("#@(item.OrderId + "New")")
                                   .click(function () {
                                       var data = {
                                           orderId: ('@item.OrderId')
                                       };
                                       $.ajax({
                                           url: "/Admin/OrderNew",
                                           type: "POST",
                                           data: data,
                                           success: function (data) {
                                               $("#divReviews").html(data);
                                           }
                                       });
                                   });
                           });
                        $(document)
                               .ready(function () {
                                   $("#@(item.OrderId + "DellYes")")
                                       .click(function () {
                                           var data = {
                                               orderId: ('@item.OrderId')
                                           };
                                           $.ajax({
                                               url: "/Admin/OrderDelite",
                                               type: "POST",
                                               data: data,
                                               success: function (data) {
                                                   $("#divReviews").html(data);
                                               }
                                           });
                                       });
                               });
                    </script>
                </td>

            </tr>
        }
    </table>
}
