@model IEnumerable<Domain.Entityes.Order>


@if (Model.Count().Equals(0))
{
    <h2 align="center">у вас нет заказов</h2>
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success" align="center" style="color: red"><h3>@TempData["message"]</h3></div>
}
@if (!Model.Count().Equals(0))
{

    <table class="table" style="background-color: lightgrey">
        <tr>
            <th>
                Товары
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Сomment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Действия над заказом
            </th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                   @foreach (var a in item.Products)
                   {
                       foreach (var z in a.Photo)
                       {
                           if (z.Priority)
                           {
                            <img  src="~/PhotoForDB/@z.PhotoUrl" height="80" width="75" />
                           }
                       }
                       <p>@a.Name</p>
                    if (a.Discount != 0)
                    {
                            <p>стоимость -  @(a.Price - a.Price * a.Discount / 100) грн (с учетом скидки @a.Discount %) </p>
                    }
                    else
                    {
                        <p>стоимость - @(a.Price) грн</p>
                    }
                   }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOrder)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Сomment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <h4 style="color: green">@item.Status</h4>
                </td>
                <td>
                    <input id="@(item.OrderId + "Ok")" type="button" value="Выполненный" class="btn btn-default" />
                    <input id="@(item.OrderId + "New")" type="button" value="&nbsp;&nbsp;Новый&nbsp;&nbsp;&nbsp;" class="btn btn-default" />
                    <input id="@(item.OrderId + "Dell")" type="button" value="Удалить" class="btn btn-default" />
                    <script>
                    $(document)
                        .ready(function () {
                            $("#@(item.OrderId + "Ok")")
                                .click(function () {
                                    var data = {
                                        orderId: ('@item.OrderId')
                    };
                    $.ajax({
                        url: "/Admin/OrderOk",
                        type: "POST",
                        data: data,
                        success: function (data) {
                            $("#OrdersInAdmin").html(data);
                        }
                    });
                });
                        });
                     $(document)
                        .ready(function () {
                            $("#@(item.OrderId + "New")")
                                .click(function () {
                                    var data = {
                                        orderId: ('@item.OrderId')
                    };
                    $.ajax({
                        url: "/Admin/OrderNew",
                        type: "POST",
                        data: data,
                        success: function (data) {
                            $("#OrdersInAdmin").html(data);
                        }
                    });
                });
                        });
                     $(document)
                        .ready(function () {
                            $("#@(item.OrderId + "Dell")")
                                .click(function () {
                                    var data = {
                                        orderId: ('@item.OrderId')
                    };
                    $.ajax({
                        url: "/Admin/OrderDelite",
                        type: "POST",
                        data: data,
                        success: function (data) {
                            $("#OrdersInAdmin").html(data);
                        }
                    });
                });
        });
                    </script>
                </td>
            </tr>
        }
    </table>
}
